<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" type="img" href="Logo_NN.png">
</head>
<body>
    <nav>
        <div class="hed">
            <img src="NoteNex crop.png" height="100px">
        </div>
    </nav>

    <!--title-->
    <div class="title">
        <h1>About Us</h1>
    </div>

    <!--image and texts-->
    <div class="container">
    <div class="item1">
        <div class="img">
            <img src="diya-modified.png" height="300px">
            <div class="name">
                <h2>Diya Prajapati</h2>
            </div>
        </div>
        <div class="allLink">
            <a href="in/diya-prajapati-453858267"><img src="linkedin_icon.png" height="40px"></a>
            <a href="https://github.com/diyaprajapati"> <img src="github-50.png" height="43px"></a>
            <a href="https://x.com/Diya0505?t=i9y-OVB4DZ6iLB8hhxHKQQ&s=09"><img src="twitter-x-icon-png.png" height="40px"></a>
        </div>
    </div>
    <div class="item2">
        <div class="img">
            <img src="tisha copy.png" height="330px">
            <div class="name">
                <h2>Tisha Prajapati</h2>
            </div>
        </div>
        <div class="allLink">
            <a href="https://www.linkedin.com/in/tisha-prajapati-a94261289/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3Br3a9GutpS1KIKFcIxuuFtQ%3D%3D"><img src="linkedin_icon.png" height="40px"></a>
            <a href="https://github.com/Tishaprajapati"> <img src="github-50.png" height="43px"></a>
            <a href="https://x.com/Diya0505?t=i9y-OVB4DZ6iLB8hhxHKQQ&s=09"><img src="twitter-x-icon-png.png" height="40px"></a>
        </div>
    </div>
</div>
</body>
</html>