<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteNex</title>
    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" type="img" href="Logo_NN.png">
</head>
<body>
    <nav>
        <div class="hed">
            <img src="NoteNex crop.png" height="100px">
        </div>

        <div class="user-detail">
                <h2> <%= userName %> </h2>
                
                <!--Drop down-->
                <div class="dropdown" id="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" height="45" viewBox="0 -960 960 960" width="45"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg>
        
                     <!--<ul>
                        <li>
                            <a href="/logout">Log Out</a>
                        </li>
                        <li>
                            <a href="diary">Diary</a>
                        </li>
                        <li>
                            <a href="home">Home page</a>
                        </li>
                    </ul> -->
                </div>
            <button><a href="/logout">Log Out</a></button>
        </div>
    </nav>

        <div class="main-cont">
            <h1>Getting Started</h1>
            <div class="lists">

            <!--to-do-->
                <div class="todo">
                    <div class="todo-img">
                        <img src="checklist.png" height="120px">
                    </div>
                    <div class="todo-txt1">
                        <h2><a href="todo">To-Do List </a></h2>
                        <div class="todo-txt2">
                            <h3>Write down all of the task that you need to complete.</h3>
                        </div>
                    </div>
                </div>

            <!--sticky notes-->
            <div class="stickynote">
                <div class="sticky-img">
                    <img src="note.png" height="120px">
                </div>
                <div class="note-txt1">
                    <h2><a href="notes">Sticky Notes </a></h2>
                    <div class="note-txt2">
                        <h3>It helps you to concentrate and listen effectively.</h3>
                    </div>
                </div>
            </div>

            <!--Diary-->
            <div class="diary">
                <div class="diary-img">
                    <img src="diary.png" height="120px">
                </div>
                <div class="diary-txt1">
                    <h2><a href="diary">Diary</a></h2>
                    <div class="diary-txt2">
                        <h3>Write your daily experiences and events as they happen.</h3>
                    </div>
                </div>
            </div>

            <!--About us-->
            <div class="about">
                <div class="about-img">
                    <img src="about.png" height="120px">
                </div>
                <div class="about-txt1">
                    <h2><a href="about">About Us</a></h2>
                </div>
            </div>
        </div>
    </div>
    <script src="/home.js"></script>
</body>
</html>