<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" type="img" href="Logo_NN.png">
</head>
<body>
    <script src="login.js"></script>
    <div class="form-parent">
        <div class="form-wrappr">
        <h2>Log In</h2>
        <!--Enter phone or email and password-->
        <form action="/login">
            <div class="email-phn">
                <div class="text">
                    <label>Enter E-mail</label>
                </div>
                <input type="text">
            </div>
            <div class="psswd">
                <div class="text">
                    <label>Password</label>
                </div>
                <input type="password">
            </div>

            <!--Log-in Button and links-->
            <div class="btn">
                <a href="home"><button type="submit">Log In</button></a>
            </div>
        </form>
        <div class="not-act">
            <p>Don't have an account?
                <a href="signup">Sign-up now</a>
                <a href="home">Home page</a>
            </p>
        </div>
    </div>
</div>
    <script src="login.js"></script>
</body>
</html>